.nav-links-disabled {
    cursor: not-allowed;
}

.container {
    width: 960px;
}

button {
    cursor: pointer;
}

.btn {
    transition: 1s all;
}

.btn:hover {
    background-color: white;
    color: black;
}

.landing-page-hero-text {
    width: 60%;
}

.box {
    transition: 1s all;
}

.box:hover {
    transform: scale(1.05);
}