.nav-links {
    display: initial;
}

.nav-links a {
    margin-left: 45px;
    color: white;
    text-decoration: none;
}

.nav-links a:first-of-type {
    margin-left: 0;
}

.nav-links-disabled {
    opacity: .5;
    cursor: not-allowed;
}

.dropdown {
    display: none;
}

.landing-page-hero-text {
    height: 35%;
    width: 60%;
}

.nav-menu {
    display: none;
}

.employee {
    flex-direction: row;
}

.employee-pic {
    margin-right: 50px;
    margin-bottom: 0;
}

.employee:nth-of-type(even) {
    flex-direction: row-reverse;
}

.employee:nth-of-type(even) .employee-pic {
    margin-right: 0;
    margin-left: 50px;
}

.employee-text {
    text-align: left;
}

.employee:nth-of-type(even) .employee-text {
    text-align: right;
}

.box-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-column-gap: 2%;
    grid-row-gap: 3%;
}

footer .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-list {
    padding: 10px 0;
    margin: 0;
}

footer .container h4 {
    margin: 0px;
}

.instagram-icon {
    margin-right: 20px;
    cursor: pointer;
}

.fa-facebook-square {
    margin-right: 40px;
    cursor: pointer;
}